$padding-horizontal-mobile: 20px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$back-ground: #f9eac328;
$header: #FBD9D7;

// DarkMode

$back-ground-darkMode: #21201d;
$blue-darkMode: #3b7db3;
$header-darkMode: #751f1f;