@import "src/styles/variaveis";
@import "src/styles/breakpoints";

.container {
    padding: 0px $padding-horizontal;
    padding-bottom: 50px;

    @media (min-width: $mobile) and (max-width: $desktop_xsm) {
        padding: 0px $padding-horizontal-xsm;
        padding-bottom: 50px;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 0px $padding-horizontal-sm;
        padding-bottom: 50px;

    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 0px $padding-horizontal-md;
        // padding: 0px 550px;

        padding-bottom: 50px;
    }

    @media (max-width: $mobile) {
        padding: 0px $padding-horizontal-mobile;
        padding-bottom: 50px;
    }

    
}

.titulo {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 30px;

    &--darkMode {
        color: $light-grey;
    }
}