.cronometro {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: cronometro;

    padding: 12px;

    .titulo {
        font-size: var(--title-font-size);
        font-weight: 400;

        margin-bottom: 20px;
        color: var(--font-blue);
    }

    .relogioWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-bottom: 40px;
        padding: 16px 12px;
        width: 100%;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        background-color: var(--background-one);
    }

    @media screen and (min-width:1280px) {
        p {
            font-size: var(--title-font-size);
        }
    }
}