@import "src/styles/variaveis";
@import "src/styles/breakpoints";

.Main {
    background-color: $back-ground;

    &--darkMode {
        background-color: $back-ground-darkMode;
    }
}

.menu {
    position: sticky;
    top: 0;
    padding: 20px $padding-horizontal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $header;
    z-index: 10;

    &--darkMode {
        background-color: $header-darkMode;
    }

    @media (max-width: $mobile) {
        padding: 20px $padding-horizontal-mobile;
    }

    @media (min-width: $mobile) and (max-width: $desktop_xsm) {
        padding: 20px $padding-horizontal-xsm;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 20px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 20px $padding-horizontal-md;
    }
}

.header {
    align-items: center;
    background-image: url("../../assets/cardapio/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    padding: 0px $padding-horizontal;

    @media (max-width: $mobile) {
        padding: 0px $padding-horizontal-mobile;
    }

    @media (min-width: $mobile) and (max-width: $desktop_xsm) {
        padding: 0px $padding-horizontal-xsm;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 0px $padding-horizontal-sm;
    }


    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 0px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 0px $padding-horizontal-md;
    }

    &__text {
        color: white;
        font-size: 5rem;
        min-width: 400px;
        width: 40%;
    }
}

.cardapio {
    padding: 0px $padding-horizontal;
    padding-bottom: 50px;

    @media (min-width: $mobile) and (max-width: $desktop_xsm) {
        padding: 0px $padding-horizontal-xsm;
        padding-bottom: 50px;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 0px $padding-horizontal-sm;
        padding-bottom: 50px;

    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 0px $padding-horizontal-md;
        // padding: 0px 550px;

        padding-bottom: 50px;
    }

    @media (max-width: $mobile) {
        padding: 0px $padding-horizontal-mobile;
        padding-bottom: 50px;
    }

    &__titulo {
        color: $dark;
        font-size: 3rem;
        margin-bottom: 30px;

        &--darkMode {
            color: $light-grey;
        }
    }

    &__filtros { 
        // background-color: red;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
}